parameters:
	autoload_files:
		- vendor/bin/.phpunit/phpunit-6.5/vendor/autoload.php
	ignoreErrors:
		# Intended
		- '#Parameter \#1 \$topics of class Symfony\\Component\\Mercure\\Update constructor expects array\|string, int given\.#'

