parameters:
	autoload_files:
		- vendor/bin/.phpunit/phpunit-7.4/vendor/autoload.php
	ignoreErrors:
		# Intended
		- '#Parameter \#1 \$topics of class Symfony\\Component\\Mercure\\Update constructor expects array\|string, int given\.#'
		# False positive
		- '#Result of && is always false\.#'
