parameters:
	level: 5
	paths:
		- src
		- tests
	inferPrivatePropertyTypeFromConstructor: true
	treatPhpDocTypesAsCertain: false
	autoload_files:
		- vendor/bin/.phpunit/phpunit-8.3-0/vendor/autoload.php
